# Environment variables
.env


# Python
__pycache__/
*.pyc


# Databases
*.sqlite3


# Editor config
.vscode/


# Virtual environments
.retailprime_env


# HTTP test files
*.http

# product image folder
product_images


# Ignore test folder and files
all_test_files
